.project
.pydevproject
data/*
.settings/*
*.pyc
src/demos/
src/demos/*
META-INF/
build.properties
src/profile_dump
doc/build/doctrees/*
doc/build/.doctrees/*
src/pypore/test/testDataFiles/*Events*
*.lprof
*.so
*.c
src/pypore/__pycache__/*
src/pypore/build/*
src/pypore/*.html
src/pyporegui/.pyxbld/*
